services:
  postgres:
    networks:
      - database
      - back-end
    image: postgres:15
    env_file:
      - stack.env
    ports:
      - "5435:5432"
    volumes:
      - staging_postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

  category-service:
    networks:
      - database
      - back-end
    pull_policy: build
    restart: unless-stopped
    build:
      context: ./category-service/
      dockerfile: ./${DOCKERFILE:-Dockerfile}
    ports:
      - "9085:8080"
    env_file:
      - stack.env

  transaction-service:
    networks:
      - database
      - back-end
    pull_policy: build
    restart: unless-stopped
    build:
      context: ./transaction-service/
      dockerfile: Dockerfile
    ports:
      - "9081:8080"
    env_file:
      - stack.env

  bff-service:
    networks:
      - back-end
    pull_policy: build
    restart: unless-stopped
    build:
      context: ./bff-service/
      dockerfile: Dockerfile
    ports:
      - "9082:3000"
    env_file:
      - stack.env
    environment:
      - CATEGORY_SERVICE_URL=http://category-service:8080/api
      - TRANSACTION_SERVICE_URL=http://transaction-service:8080/api
      - TRANSACTION_V2_SERVICE_URL=http://transaction-service-v2:8080/api/v2

volumes:
  staging_postgres_data:

networks:
  database:
    driver: bridge
  back-end:
    external: true
    name: financer-services_back-end
