services:
  bff-service:
    networks:
      - back-end
    pull_policy: build
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8082:3000'
    env_file:
      - stack.env

networks:
  back-end:
    driver: bridge
