services:
  bff-service:
    networks:
      - back-end
    pull_policy: build
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "9082:3000"
    env_file:
      - stack.env
    environment:
      - TRANSACTION_V2_SERVICE_URL=http://transaction-service-v2:8080/api/v2

networks:
  back-end:
    driver: bridge
